__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environments
**/.venv/
.venv/
venv/
env/
.env
.env.*

# Packaging / build
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Tooling caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.cache/

# Editors
.idea/
.vscode/

# OS
.DS_Store
